base.html

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('main_routes.home')}}">Home</a></li>
                <li><a href="{{ url_for('main_routes.about') }}">About</a></li>
                <li><a href="{{ url_for('product_routes.index') }}">products</a></li>
                <!-- <li><a href="{{ url_for('product_routes.create') }}"> create products</a></li> -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2020 My Flask Project</p>
    </footer>

</body>

</html>